# Uso de inteligencia artificial para mejorar el desempeño de un proyecto de generación fotovoltaica

## Seminario de Analítica y Ciencia de Datos

Moisés Alfonso Guerrero Jiménez, Andrés Castaño Licona

### 1. Repositorio

Para las actividades relacionadas con la entrega del `ME03` y el análisis de datos, se hará uso de un repositorio en *Github* donde se tendrá el material usado incluyendo funciones, documentación relacionada y así como el presente archivo a manera de cuaderno de Jupyter.

### 2. Datos

Para el desarrollo de la presente actividad se hará uso de datos disponibles en Kaggle en la url https://www.kaggle.com/datasets/dronio/SolarEnergy

In [5]:
import json

# Como prerrequisito es necesario tener un archivo de credenciales kaggle.json en el directorio del notebook
file = open('kaggle.json',"r")
api_token = json.load(file)

# Creamos el directorio de .kaggle dentro del entorno de Colab
! mkdir /home/jovyan/.kaggle
# Agregamos el archivo kaggle.json vacío
! touch /home/jovyan/.kaggle/kaggle.json

# Abrimos el archivo y escribimos el token
with open('/home/jovyan/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

# Asignamos permisos para acceder al archivo de credenciales
! chmod 600 /home/jovyan/.kaggle/kaggle.json

# Instalamos kaggle CLI
! pip install kaggle

# Descargamos el Dataset con la API de kaggle
! kaggle datasets download -d dronio/SolarEnergy

# Descomprimimos el archivo .zip descargado
! unzip -q SolarEnergy.zip

mkdir: cannot create directory ‘/home/jovyan/.kaggle’: File exists
Collecting kaggle
  Downloading kaggle-1.5.16.tar.gz (83 kB)
     |████████████████████████████████| 83 kB 206 kB/s eta 0:00:011
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.9/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.9/site-packages (from kaggle) (2021.5.30)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from kaggle) (2.26.0)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.9/site-packages (from kaggle) (4.61.2)
Collecting python-slugify
  Downloading python_slugify-8.0.1-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.9/site-packages (from kaggle) (1.26.6)
Requirement already satisfied: bleach in /opt/conda/lib/python3.9/site-packages (from kaggle) (3.3.1)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.9/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from bleach->kaggle) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from packaging->bleach->kaggle) (2.4.7)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 444 kB/s eta 0:00:01
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->kaggle) (2.0.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->kaggle) (3.1)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.16-py3-none-any.whl size=110687 sha256=0f97cd35fee5182e55c368dcff932a19c45c0d6ce1dff2bb34571127fd00b7b8
  Stored in directory: /home/jovyan/.cache/pip/wheels/d2/ed/a5/da3a0cfb13373d1ace41cafa4f2467d858c55c52473ba72799
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle
Successfully installed kaggle-1.5.16 python-slugify-8.0.1 text-unidecode-1.3
Downloading SolarEnergy.zip to /home/jovyan/Seminario-Analitica-CDatos/jupyter/ME03
100%|████████████████████████████████████████| 511k/511k [00:00<00:00, 3.06MB/s]
100%|████████████████████████████████████████| 511k/511k [00:00<00:00, 3.04MB/s]

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('SolarPrediction.csv', sep = ',', header = 0)

In [9]:
df

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00
...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,12/1/2016 12:00:00 AM,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00
32682,1480587301,12/1/2016 12:00:00 AM,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00
32683,1480587001,12/1/2016 12:00:00 AM,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00
32684,1480586702,12/1/2016 12:00:00 AM,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00
32685,1480586402,12/1/2016 12:00:00 AM,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00

In [10]:
df.dtypes

UNIXTime                    int64
Data                       object
Time                       object
Radiation                 float64
Temperature                 int64
Pressure                  float64
Humidity                    int64
WindDirection(Degrees)    float64
Speed                     float64
TimeSunRise                object
TimeSunSet                 object
dtype: object

In [11]:
df.describe(include='all')

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
count,3.268600e+04,32686,32686,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686,32686
unique,NaN,118,8299,NaN,NaN,NaN,NaN,NaN,NaN,51,56
top,NaN,12/1/2016 12:00:00 AM,16:20:18,NaN,NaN,NaN,NaN,NaN,NaN,06:11:00,17:42:00
freq,NaN,288,24,NaN,NaN,NaN,NaN,NaN,NaN,1399,3682
mean,1.478047e+09,NaN,NaN,207.124697,51.103255,30.422879,75.016307,143.489821,6.243869,NaN,NaN
std,3.005037e+06,NaN,NaN,315.916387,6.201157,0.054673,25.990219,83.167500,3.490474,NaN,NaN
min,1.472724e+09,NaN,NaN,1.110000,34.000000,30.190000,8.000000,0.090000,0.000000,NaN,NaN
25%,1.475546e+09,NaN,NaN,1.230000,46.000000,30.400000,56.000000,82.227500,3.370000,NaN,NaN
50%,1.478026e+09,NaN,NaN,2.660000,50.000000,30.430000,85.000000,147.700000,5.620000,NaN,NaN
75%,1.480480e+09,NaN,NaN,354.235000,55.000000,30.460000,97.000000,179.310000,7.870000,NaN,NaN
max,1.483265e+09,NaN,NaN,1601.260000,71.000000,30.560000,103.000000,359.950000,40.500000,NaN,NaN